[submodule ".config/gitui"]
	path = .config/gitui
	url = https://github.com/theCat69/gitui-config
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/theCat69/wezterm-config
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/theCat69/nvim-config
[submodule ".config/starship"]
	path = .config/starship
	url = https://github.com/theCat69/starship-config
[submodule ".config/clink"]
	path = .config/clink
	url = https://github.com/theCat69/clink-config
[submodule ".config/ideavimrc"]
	path = .config/ideavimrc
	url = https://github.com/theCat69/ideavimrc
[submodule ".config/topgrade"]
	path = .config/topgrade
	url = https://github.com/theCat69/topgrade-config
